<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>Ejercicio 1</h1>

<input type="number" [(ngModel)]=numero><br><br>
<input type="number" [(ngModel)]=numeroDos><br><br>
<input type="number" [(ngModel)]=suma disabled="false"><br><br>
<input type="number"[(ngModel)]="promedio" disabled="false"><br><br>
<input type="button" value="calcular" (click)=calcular()>
<input type="button" value="limpiar" (click)=limpiar() >
<input type="button" value="saludar" (click)=saludar()>
<br>
<br>
<h1>{{title}}</h1>
<br>
<br>
<input type="text" [(ngModel)]=title>
<br>
<br>
<h1>{{miUsuario.nombre}}</h1>
<br>
<br>
<input type="text" [(ngModel)]=miUsuario.nombre>
<router-outlet></router-outlet>
